<div id="footer">

    <h2>Nos Réseaux Sociaux</h2>

    <div id="social_media">
        <a href="https://www.facebook.com/" target="_blank"><img src="/assets/img/facebook.png" alt="logo de facebook qui est un grand F bleu"></a>
        <a href="https://www.instagram.com/" target="_blank"><img src="/assets/img/instagram.png" alt="logo d'instagram qui représente un appareil photo"></a>
        <a href="https://www.tiktok.com/" target="_blank"><img src="/assets/img/tiktok.png" alt="logo de tiktok qui représente une note de musique"></a>
    </div>

</div>
