
<div id="about_content">

    <h1>Notre Histoire</h1>

    <img src="/assets/img/photo_about_asterix.png" alt="photo représentant tout les personnages d'asterix et obélix">

    <p>L'aventure de "Au petit village" commence par une passion commune pour l'univers d'Astérix et Obélix. Amoureux de la bande dessinée créée par René Goscinny et Albert Uderzo, <br>
        les fondateurs de l'entreprise rêvaient de donner vie aux personnages et aux scènes emblématiques du célèbre village gaulois. <br>
        Au départ, l’équipe était constituée d’un petit groupe d'artisans passionnés, qui fabriquaient chaque figurine à la main, en s'inspirant fidèlement des traits et expressions uniques des personnages d’Astérix, Obélix, Idéfix et bien d’autres. <br>
        Leur but : recréer l'atmosphère authentique et humoristique des aventures de ce village résistant face à l'envahisseur romain. <br>
        Au fil des années, "Au petit village" a grandi, tout en restant fidèle à ses valeurs : un artisanat de qualité, une attention méticuleuse aux détails et un profond respect pour l’œuvre originale. <br>
        Chaque figurine est pensée pour être une véritable pièce de collection, un objet qui ravive l’imaginaire et transporte ses détenteurs dans l'univers intemporel d'Astérix. <br>
        Aujourd'hui, "Au petit village" est reconnu pour ses créations uniques qui séduisent les amateurs de bande dessinée, les collectionneurs et les nostalgiques des aventures gauloises. <br>
        L'histoire continue, et chaque figurine raconte une nouvelle page du village gaulois le plus célèbre du monde.</p>




</div>
