/* global css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: 'BobblebodyNeue';
    src: url('./assets/font/BubbleboddyNeue-Bold\ Trial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'Comfortaa', sans-serif;
    background-color: #F9D0A3;
}


h1, h2, h3, h4 {
    font-family: 'BobblebodyNeue';
}


