#main_content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: #DA001E;
  margin: 50px;
  font-size: 64px;
}

p {
  margin: 50px;
  font-size: 16px;
  line-height: 1.6;
  
}

h2 {
  color: #DA001E;
  margin: 50px;
  font-size: 45px;
  text-align: center;
}

h3 {
  color: #DA001E;
}

input[type="text"] {
  width: 400px;
  height: 40px; 
  padding: 10px; 
  font-size: 16px; 
  border-radius: 5px; 
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin: 30px;
}

button {
  margin: 5px;
}


.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 16px;
  margin: 10px;
}

.product {
  max-width: 300px;
  border: 5px solid #FDD90B;
  padding: 10px;
  text-align: center;
}

.product a {
  text-decoration: none;
  color: black;
}

.product img {
  width: 200px;
  height: 200px;
  border-radius: 10%;
}


@media (max-width: 1024px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr); 
  }
}


@media (max-width: 768px) {
  .product-list {
    grid-template-columns: 1fr; 
  }

  .product {
    max-width: 100%; 
  }
}





