#main_content {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #F9D0A3 !important;
}

h1 {
  color: #DA001E;
}

h2 {
  color: #DA001E;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 16px;
}

.product {
  max-width: 300px;
  border: 5px solid #FDD90B;
  padding: 10px;
  text-align: center;
}

.product a {
  text-decoration: none;
  color: black;
}

.product img {
  width: 200px;
  height: 200px;
  border-radius: 10%;
}


@media (max-width: 1024px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr); 
  }
}


@media (max-width: 768px) {
  .product-list {
    grid-template-columns: 1fr; 
  }

  .product {
    max-width: 100%; 
  }
}





